.App {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Grid {
    width: 100%;
    background: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Column {
    width: 150px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
