.App {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Grid {
    width: 100%;
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ColumnSet {
    display: flex;
    justify-content: space-around;
}

.ColumnSet .Column {
    width: 150px;
}

.Column {
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Car {
    background: purple;
}
